* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../images/Global_Unity_Landscape_Flyover.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #006747;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
}

input:focus {
    outline: none;
    border-color: #FFD700;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #006747;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #FFD700;
    color: #006747;
}

p {
    color: black;
    text-align: center;
    margin-top: 20px;
}

p a {
    color: rgb(26, 173, 70);
    text-decoration: none;
    /* Change the link color to black */
}

p a:hover {
    text-decoration: underline;
}

.btn-back {
    background-color: #006747;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}

.btn-back:hover {
    background-color: #FFD700;
    color: #006747;
}